<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <form (ngSubmit)="onSubmit(newsForm)" #newsForm="ngForm">
                <div class="form-group">
                  <label for="title">Title</label>
                  <input type="text"
                    ngModel="newsItem.title" 
                    name="title" 
                    class="form-control" 
                    id="title" 
                    placeholder="title">
                </div>
              
                <div class="form-group">
                  <label for="description">Desctiption</label>
                  <input 
                    type="text"
                    ngModel="newsItem.description" 
                    name="description" 
                    class="form-control" 
                    id="desctiption" 
                    placeholder="desctiption">
                </div>
<!--                 
                <div class="form-group">
                  <label for="exampleInputFile">File input</label>
                  <input type="file" id="exampleInputFile">
                  <p class="help-block">Upload Image</p>
                </div>   -->
                <!-- <img src="newsItem.imageURL" ><br> -->
                <button type="submit" class="btn btn-default">Submit</button>
              </form>
        </div>
      </div>
      <div class="row">
          <div class="col-md-8">
        
          </div>
        </div>
</div>

