<div class="container row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
      <form (ngSubmit)="submitRegistration()" #registerForm="ngForm">
        <div class="form-group">
          <label for="email">Email address:</label>
          <input type="email"
           class="form-control"
            id="email"
            ngModel
            name="email"
            email
            required
            #email="ngModel"
            >            
        <p *ngIf="! email.valid">Please enter valid email</p>
        </div>

        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password"
           class="form-control"
            id="pwd"
            name="password"
            ngModel 
            required>
        </div>
        <div class="checkbox">
          <label><input type="checkbox"> Remember me</label>
        </div>
        <button [disabled]="!registerForm.valid" type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
