<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>View</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let newsItem of newsData">
      <td><a data-toggle="modal" data-target="#myModal" (click)="viewNewsItem(newsItem)">{{newsItem.title}}</a></td>
      <td><a (click)="editNewsItem(newsItem)">Edit</a></td>
      <td><a (click)="deleteNewsItem(newsItem._id)">Delete</a></td>
    </tr>
  </tbody>
</table>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{newsItemData.title}}</h4>
        </div>
        <div class="modal-body">
          <p>{{newsItemData.description}}</p>
          <img src="{{newsItemData.imageURL}}">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>