<div class="container row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
      <form [formGroup]="loginForm" (ngSubmit)="submitForm()" >
        <div class="form-group">
          <label for="email">Email address:</label>
          <input type="email"
           class="form-control"
            id="email"
            formControlName="email"
           
            >            
        
        </div>

        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password"
           class="form-control"
            id="pwd"
            formControlName="password"
            >
        </div>
        <div formArrayName="skills">
          <button type="button" class="btn btn-sucess" (click)="addSkill()"> Add Skill</button>
          {{loginForm.get('skills').controls}}
          <div *ngFor="let skill of loginForm.get('skills').controls; let i = index">          
            <input type="text"  [formControlName]="i" >
          </div>
        </div>
        <div class="checkbox">
          <label><input type="checkbox"> Remember me</label>
        </div>
        <button  type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
