<div class="container">
  <div class="row">
    <div class="col-md-4">
      <app-get-news [newsData]="newsData" (deleteEvent)="deleteNews($event)" ></app-get-news>
    </div>
    <div class="col-md-8">
        <app-post-news></app-post-news>
      </div>
  </div>
</div>
